<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Composable Commerce</title>
  <style>
    body {
      background-color: #eaeaea;
    }
    header {
      background-color: #335577;
    }
  </style>
  <link href="head.css" rel="stylesheet" />
  <link href="common.css" rel="stylesheet" />
  <script src="head.js"></script>
</head>
<body>
  <header>Composable Commerce - 메인</header>
  <img src="https://www.datapine.com/images/it-dashboards-datapine.png" />
</body>
</html>
